[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
django-cors-headers = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
python-dotenv = "*"
cryptography = "*"
drf-nested-routers = "*"
drf-spectacular = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
